.cadreBlc {
    width: 200px;
    height: 225px;
    margin: auto;
    display: table;
  }
  
  .cadreTof {
    display: table-cell;
    background: white url('../img/cerveau.gif') no-repeat;
    background-size: 77%;
    border-bottom-right-radius: 20px;
    background-position: center;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 8px 8px 12px #aaa;
    /* Pour écrire par dessus: */
    /* opacity: .07; */
  }
  