@charset "UTF-8";
/* CSS de svd()*/
@font-face {
  font-family: Comic;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/comic.eot) format("eot"), url(./fonts/comic.woff2) format("woff2"), url(./fonts/comic.woff) format("woff"), url("./fonts/comic.svg#Comic Sans MS") format("svg"), url(./fonts/comic.ttf) format("truetype");
}

#lio span.lio2 {
  color: red !important;
}

fieldset.svd {
  background: #fff;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 0 10px;
  padding-bottom: 5px;
  line-height: 1.1;
  border-radius: 7px;
  border: 2px solid orange;
}

fieldset.svd span.mev {
  font-family: arial;
  font-weight: 600;
  font-size: 11px;
  color: #8b3800;
}

fieldset.svd legend {
  font-family: 'Comic', arial;
  width: 100%;
  font-size: 16px;
  background-color: #eee;
  line-height: 1.2;
  text-align: center;
  padding: 2px;
  padding-top: 0;
  margin-bottom: 2px;
  border: 1px solid grey;
  border-radius: 3px;
}

fieldset.svd .xdebug-var-dump {
  display: inline;
}

fieldset.svd pre,
fieldset.svd code {
  font-family: monospace !important;
  font-size: 13px !important;
  color: #000 !important;
  margin-bottom: 0;
}

/* juste pour une variable quiprécise si SG ou local */
body {
  font-size: 1em;
  color: maroon;
  font-family: "Comic", serif;
  background-color: cornsilk;
}

footer {
  border-top: 1px solid #cccaca;
  margin-right: 5px;
  margin-left: 3px;
  font-style: italic;
  font-size: 12px;
  padding-top: 0;
}

footer,
footer a {
  color: #8b8b8b;
}

footer .footerGC7 {
  color: blue !important;
}

h1 {
  margin: 10px auto !important;
}

p {
  font-size: .9em;
}

.letspace {
  letter-spacing: .2em;
}

.main {
  margin-top: 5px;
}

.tac {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#lio {
  text-align: right;
  font-size: .7em;
}

#lio .lio {
  color: blue !important;
}
/*# sourceMappingURL=style.css.map */