@font-face {
  font-family: Comic;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/comic.eot) format("eot"), url(./fonts/comic.woff2) format("woff2"), url(./fonts/comic.woff) format("woff"), url("./fonts/comic.svg#Comic Sans MS") format("svg"), url(./fonts/comic.ttf) format("truetype");
}

#lio span.lio2 {
  color: red !important;
}

fieldset.svd {
  background: #fff;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 0 10px;
  padding-bottom: 5px;
  line-height: 1.1;
  border-radius: 7px;
  border: 2px solid orange;
}

fieldset.svd span.mev {
  font-family: arial;
  font-weight: 600;
  font-size: 11px;
  color: #8b3800;
}

fieldset.svd legend {
  font-family: 'Comic', arial;
  width: 100%;
  font-size: 16px;
  background-color: #eee;
  line-height: 1.2;
  text-align: center;
  padding: 2px;
  padding-top: 0;
  margin-bottom: 2px;
  border: 1px solid grey;
  border-radius: 3px;
}

fieldset.svd .xdebug-var-dump {
  display: inline;
}

fieldset.svd pre,
fieldset.svd code {
  font-family: monospace !important;
  font-size: 13px !important;
  color: #000 !important;
  margin-bottom: 0;
}

@font-face {
  font-family: Comic;
  font-style: normal;
  font-weight: 400;
  src: url("../../css/fonts/comic.ttf") format("truetype");
}
/*# sourceMappingURL=style.css.map */