.jumbotron {
  margin: 0;
  padding: 10px auto;
}

.bloclionel {
  padding-top: 7px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  background-color: grey;
}

.w95 {
  width: 95%;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.vam {
  vertical-align: middle !important;
}

.mylogo {
  border-radius: 4px 0;
}

#contentgc7 {
  position: relative;
  margin-top: 70px;
  color: #f00;
}

.bg-grey {
  background-color: rgb(206, 206, 206);
  border-radius: 7px;
}
