body {
  padding-top: 10px;
}

[class*="col"],
footer,
aside {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
}

.row {
  margin-bottom: 10px;
  height: 150px;
  background-color: #b4c8cf;
  border-radius: 7px;
}

.jumbotron {
  // height: 200px;
  margin: 0;
  padding: 10px auto;
}

.bloclionel {
  padding-top: 7px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  background-color: grey;
}

.w95 {
  width: 95%;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.vam {
  vertical-align: middle !important;
}

#alignblocs.container {
  height: 500px;
  border: 1px solid blue;
  background-color: rgb(226, 221, 221);
  border-radius: 7px;
}

#alignblocs .bloc1 {
  height: 200px;
  border: 1px solid rgb(1, 1, 80);
  background-color: rgb(226, 221, 221);
  border-radius: 7px;
}
