body {
  background-color: cornsilk;
}

.fa {
  cursor: pointer;
}

.has-animation {
  position: relative;
}

.has-animation p,
.has-animation img {
  opacity: 0;
}

.has-animation.animate-in p,
.has-animation.animate-in img {
  -webkit-animation: textHidden 0.1s 1.1s forwards;
          animation: textHidden 0.1s 1.1s forwards;
}

.has-animation.animate-in:before,
.has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

.has-animation.animate-in:before {
  background-color: teal;
}

.has-animation.animate-in:after {
  background-color: yellowgreen;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.has-animation.animation-ltr.animate-in:before {
  -webkit-animation: revealLTR 1.8s ease;
          animation: revealLTR 1.8s ease;
}

.has-animation.animation-ltr.animate-in:after {
  -webkit-animation: revealLTR 1s .6s ease;
          animation: revealLTR 1s .6s ease;
}

.has-animation.animation-rtl.animate-in:before {
  -webkit-animation: revealRTL 1.8s ease;
          animation: revealRTL 1.8s ease;
}

.has-animation.animation-rtl.animate-in:after {
  -webkit-animation: revealRTL 1s .6s ease;
          animation: revealRTL 1s .6s ease;
}

@-webkit-keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@-webkit-keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=tuto7.css.map */