body {
  padding-top: 10px;
}

[class*="col"],
footer,
aside {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
}

.mt-20 {
  padding-top: 70px;
}
